/* Highlighting active menu item */
#Quanlymenu #idNhapVao {
    background-color: rgb(193, 239, 210);
}

/* Main content styling */
.QuanlyTB #Main_NhapVao {
    display: inline-block;
    margin-top: 23px;
    width: 79%;
    height: 86vh;
}

/* Form container styling */
#Main_NhapVao #ThemPhieuNhap {
    display: inline-block;
    width: 100%;
    height: auto;
    border: 1px solid #127909;
    border-radius: 6px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Table container styling */
#Main_NhapVao #DanhSachNhap {
    margin-top: 11px;
    display: inline-block;
    width: 100%;
    height: 43%;
    border: 1px solid #127909;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*--------------------------Add Phieu Nhap ------------------------*/

label {
    font-weight: bold;
}

input, select {
    width: calc(100% - 30px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.Nhapdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

    .Nhapdiv label {
        width: 30%;
    }

    .Nhapdiv input,
    .Nhapdiv select {
        width: 65%;
    }

/* Button styling */
button {
    font-weight: 700;
    color: #000000;
    margin: 22px;
    background-color: #e8f1f183;
    border: 1px solid #174c13;
}

    button:hover {
        background-color: rgb(193, 239, 210);
    }

/* Link styling */
.aDSPhieuNhap {
    display: inline-block;
    height: 35px;
    width: 15%;
    min-width: 200px;
    border: 1px solid #0b4a0a;
    border-radius: 6px;
    margin: 18px;
}

    .aDSPhieuNhap a {
        color: #000000;
        display: block;
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        line-height: 35px;
    }

        .aDSPhieuNhap a:hover {
            background-color: rgb(193, 239, 210);
        }

/*-----------------------------------------------------------------------*/

/* Table and data container styling */
#DanhSachNhap #divbang {
    height: 100%;
    width: 100%;
}

#BangDanhSachPhieuNhap {
    margin-top: 2px;
    height: 90%;
    width: 100%;
    border-collapse: collapse;
    overflow-y: scroll;
}

tbody {
    height: 200px;
    overflow-y: scroll;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
