
@{
    ViewBag.Title = "DonVi";
    Layout = "~/Share/layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Them/CSS/DanhMuc/DanhMucMenu.css" rel="stylesheet" />
    <link href="~/Them/CSS/DanhMuc/DonVi.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="DanhMucTB">
        <div id="DanhMucmenu">
            <h3 class="TieuDe">DANH MỤC</h3>
            <ul>
                <li id="idNhomThietBi"><a href="~/DanhMuc/NhomThietBi">Nhóm thiết bị</a></li>
                <li id="idHangSanXuat"><a href="~/DanhMuc/HangSanXuat">Hãng sản xuất</a></li>
                <li id="idDonVi"><a href="~/DanhMuc/DonVi">Đơn vị</a></li>
            </ul>
        </div>

        <div id="Main_NhomThietBi">
            <div id="nav-NhomThietBi">

            </div>
            <div id="BangNhomThietBi">

            </div>
        </div>
    </div>
</body>
</html>



