@model DATA.Entity.HANG_SX
@{
    ViewBag.Title = "ThemMoiHSX";
    Layout = "~/Share/layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Them/CSS/DanhMuc/ThemMoiLoaiTB.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="QuanlyTB">
        <h3 style="margin-left: 20%; margin-top: 5%;">THÊM MỚI HÃNG SẢN XUẤT</h3>
        @using (Html.BeginForm())
        {
            <div id="Main_NhapVao">
                <div id="ThemPhieuNhap">
                    <div class="Nhapdiv">
                        <label for="MaHang">Mã hãng sản xuất:</label>
                        <input type="number" id="ngay-lap-phieu" name="MaHang">
                    </div>

                    <div class="Nhapdiv">
                        <label for="TenHang">Tên hãng sản xuất</label>
                        <input type="text" id="ngay-lap-phieu" name="TenHang">
                    </div>

                    <div id="idLink">
                        <button type="submit">Lưu</button>

                        <div class="aDSPhieuNhap">
                            <a href="~/DanhMuc/HangSanXuat">Hãng Sản Xuất</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>

