@{
    ViewBag.Title = "Trangchu";
    Layout = "~/Share/layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Them/CSS/Home/Home.css" rel="stylesheet" />
    <title>Image Slider</title>
</head>
<body>
</body>
</html>



