body {
    background-image: url('../../images/login_background.jpg');
}

#FatherKhung {
    height: 400px;
    width: 380px;
    background-color: rgba(250, 250, 250, 0.7);
    border: 1px solid rgba(75, 234, 171, 0.067);
    position: fixed;
    top: 25%;
    left: 40%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

* {
    color: #050505;
}

#header {
    height: 60px;
    margin: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

#Khung {
    margin-top: 10%;
    padding: 0px 20px 20px 20px;
}

.SubKhung {
    margin-top: 22px;
    margin-bottom: 10px;
}

    .SubKhung label {
        font-size: 18px;
        font-weight: 700;
    }

    .SubKhung input {
        height: 22px;
        width: 200px;
        position: absolute;
        color: #050505;
        left: 35%;
        border: 1px solid #080808;
        border-radius: 6px;
        background-color: rgba(230, 230, 230, 0.7);
    }

#Khung #question {
    margin-top: 15px;
    position: absolute;
    right: 24px;
    text-align: center;
    font-size: 12px;
    color: #080808;
}

.button_Signup {
    font-size: 20px;
    font-weight: 700;
    margin-top: 35px;
    height: 40px;
    width: 100%;
    border-radius: 12px;
    color: #050505;
}

#DangKy {
    margin: 5px 5px 5px 15px;
    float: right;
    width: 205px;
}

    #DangKy a {
        color: #3c4bd0;
        text-decoration: none;
    }
